<footer class="footer py-3 bg-light text-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 mb-2">
            <!-- Retour en haut de page centré -->
            <%= link_to "Retour en haut de page", "#", class: "btn btn-outline-primary btn-sm" %>
          </div>
          <div class="col-md-12">
            <!-- Liens supplémentaires centrés -->
            <%= link_to "CGU", cgu_path, class: "mx-2" %>
            <%= link_to "Nous contacter", contact_path , class: "mx-2" %>
            <%= link_to "À propos", about_path, class: "mx-2" %>
          </div>
        </div>
      </div>
 </footer>
