<div class="text-center">
<h1><strong>Comment ça marche ?</strong></h1>
<br>
<br>
<h2>Étape 1</h2>
<br>
<p>Sélectionnez la photo de votre choix sur la page d'accueil.</p>
<br>
<h2>Étape 2</h2>
<br>
<p>Sur la page sélectionnée, veuillez cliquer sur "Ajouter à mon panier".</p>
<br>
<h2>Étape 3</h2>
<br>
<p>Une fois dans votre panier, veuillez le valider en cliquant sur "Valider mon panier".</p>
<br>
<h2>Étape 4</h2>
<br>
    <p>Vous allez rentrer vos coordonnées et vos informations afin d'être redirigé vers le paiement.</p>
<br>
    <h2>Étape 5</h2>
        <br>
            <p>Vous allez procéder au paiement, rentrez vos coordonnées bancaires et le tour est joué.</p>
        <br>
    <br>
</div>
