<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
        Bonne nouvelle ! <br/>
        Une nouvelle commande est confirmée !
    </h1>
    <p>
        Vous pouvez trouver les détails de la commande ici : <a href='http://localhost:3000/orders/<%= @order.id %>'>http://localhost:3000/orders/<%= @order.id %></a>
    </p>

    <p>
        Total de la commande : <%# @order.total %> €
    </p>

    <p>
        Accéder aux commandes : <a href='http://localhost:3000/orders'>http://localhost:3000/orders</a>
    </p>
    
  </body>
</html>